/* app css stylesheet */

body {
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.wrapper {
	/*max-width: 80%;*/
	display: inline-block;
	width: calc(100% - 40px);
	max-width: 1000px;
	position: relative;
 	text-align: left;
	margin-bottom: 40px;
}

.control-bar {
	position: fixed;
	top: 0;
	background: #fff;
	background: rgba(255,255,255,0.9);
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 10;
	text-align: center;
	width: calc(100% - 40px);
	max-width: 1000px;
}

.control-bar.row {
	margin-left: -15px;
	margin-right: -15px;	
	padding-left: 15px;
	padding-right: 15px;
}

.control-bar-title {
	text-align: left;
	font-size:20px;
	color:#424242;
	cursor:pointer;
	padding-left:0px;
}

.control-bar-title img {
	height:40px;
}

.control-bar-search {
	padding-right:0px;
	text-align: right;
	padding-left: 0px;
	/*position: absolute;
	right: 0;
	display: inline-block;*/
}

input:focus {
	outline: none;
}

input[type="search"] {
	display:inline-block;
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 5px;
	padding-left: 8px;
	width: 100%;
}

.control-bar-compose {
	margin-top: -10px;
}

.compose-a {
	display:inline-block;
	background:url("../images/compose-icon.png");
	width:82px;
	height:35px;
	background-size:100% auto;
	background-repeat: no-repeat;
	opacity:0.8;
}

.compose-a:hover {
	opacity: 1.0;
}

.settings-a {
	padding-left: 8px;
	opacity:0.8;
}

.settings-a:hover {
	opacity: 1.0;
}

button.loadMore {
  text-align: center;
  width: 100%; 
}


.row {
	margin-left: 0px;
	margin-right: 0px;
	/*width: 90%;
	height: 145px;
	margin: 22px auto;*/
}
.one-box {
	position: relative;
	overflow: auto;
	width: 100%;
	height: 210px;
	border: 1px solid #eee;
	border-left-style: solid;
	border-left-width: 7px;
	margin-bottom: 20px;
}
.two-box {
	position: relative;
	overflow: auto;
	width: 49%;
	margin-right: 2%;
	display: inline-block;
	height: 210px;
	border: 1px solid #eee;
	border-left-style: solid;
	border-left-width: 7px;
	margin-bottom: 20px;
}
.two-box:nth-child(even){
	margin-right:0;
}
.unread {
	position:absolute;
	text-align: center;
	line-height: 20px;
	border-radius: 50%;
	color: #fff;
	width: 20px;
	height: 20px;
	top: 5px;
	right: 5px;
	z-index: 5;
	
}
.two-box-1 {
	position: absolute;
	width: calc(50% - 14px);
	height: 144px;
	border: 1px solid #eee;
	border-left-style: solid;
	border-left-width: 5px;
	margin-bottom: 164px;
}
.two-box-2 {
	position: absolute;
	margin-left: calc(50% + 14px);
	width: calc(50% - 14px);
	height: 144px;
	border: 1px solid #eee;
	border-left-style: solid;
	border-left-width: 5px;
	margin-bottom: 164px;
}

.lopadding {
	right-padding: 10px !important;
	margin: 0px !important;
}

.nopadding {
	padding-right: 0 !important;
	margin: 0 !important;
}

.ind-email {
	/*padding-left: 12px;
	height: 47px;*/
	border-bottom: 1px solid #d9d9d9;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	padding-bottom:2px;
}

.read {
	background-color: #f5f5f5;
}

.selected-email {
	background: #e9fcfb;
}

.from {
	font-weight: bold;
	font-size: 17px;
	color: #414141;
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	padding-top:9px;
	/*position: relative;
	line-height:47px;
	display: inline-block;
	margin: auto 12px;
	width: 185px;*/
	cursor:default;
}
.sigma {
	text-align: right;
	padding-right: 0px;
	padding-top:9px;
	/*width: 20px;*/
	/*position: relative;
	top: 7px;
	display: inline-block;*/
}
.sigma img {
	width: 15px;
}
.subject {
	font-size: 120%;
	color: #424242;
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	font-weight: 300;
	cursor:default;
	/*position: relative;	
	display: inline-block;
	padding-left: 12px;
	margin-top: 4px;
	width: calc(90% - 215px);
	cursor:default;*/
}
.snipit {
	/*position: relative;*/
	/*left: 260px;*/
	/*top: -20px;*/
	/*width: 200px;*/
	color: #b8b8b8;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
/*	display: inline-block;
	width: calc(90% - 215px);
*/	font-size: 75%;
	cursor:default;
}

.date {
	color: #424242;
}


.category-bar {
	position:fixed;
	width:100%;
	bottom: 0;
	text-align: center;
}

.category-bar .category {
	display:inline-block;
	width:18.5%;
	padding:4px;
	margin-right:1px;
	color:#fff;
	font-size:16px;
	opacity: .95;
	cursor:pointer;
}

.category-id {
	color: rgba(255,255,255,0.75);
	font-weight: bold;
}

.category-bar .category:hover,
.category-bar .category-selected {
	opacity: 1.0 !important;
}

.one-box::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.one-box::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.one-box::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #AFAFAF;
}

.two-box::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.two-box::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.two-box::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #AFAFAF;
}


.message-view {
	border: 1px solid #eee;
}