/* app css stylesheet */

body {
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
	max-width: 80%;
	position: relative;
	margin: 0 auto;
}

.control-bar {
	position: fixed;
	top: 0;
	background: #fff;
	background: rgba(255,255,255,0.9);
	padding-top: 10px;
	padding-bottom: 20px;
	z-index: 10;
	text-align: center;
	width: 100%;
	max-width: 80%;
}

.control-bar-title {
	position: absolute;
	left: 0;
	display: inline-block;
	font-size:20px;
	color:#424242;
	cursor:pointer;
}

.control-bar-search {
	position: absolute;
	right: 0;
	display: inline-block;
}

input:focus {
	outline: none;
}

input[type="search"] {
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 5px;
	padding-left: 8px;
	width: 300px;
}

.control-bar-compose {
	display: inline-block;
	margin-top: -10px;
}

.compose-a {
	background:url("../images/compose-icon.png");
	width:82px;
	height:35px;
	background-size:100% auto;
	background-repeat: no-repeat;
	opacity:0.8;
}

.compose-a:hover {
	opacity: 1.0;
}

.row {
	/*width: 90%;
	height: 145px;
	margin: 22px auto;*/
}

.category-box {
	overflow: scroll;
	border: 1px solid #eee;
	border-left-style: solid;
	border-left-width: 5px;
	margin-bottom: 10px;
}

.one-box {
	width: 100%;
	height: 145px;
}
.two-box-1 {
	position: absolute;
	width: calc(50% - 14px);
	height: 144px;
}
.two-box-2 {
	position: absolute;
	margin-left: calc(50% + 14px);
	width: calc(50% - 14px);
	height: 145px;
}
.ind-emailread {
	background-color: #f5f5f5;
	padding-left: 12px;
	/*height: 47px;*/
	border-bottom: 1px solid #d9d9d9;
}
.ind-email {
	padding-left: 12px;
	/*height: 47px;*/
	border-bottom: 1px solid #d9d9d9;
}
.from {
	/* position: relative; */
	font-weight: bold;
	font-size: 120%;
	color: #414141;
	white-space: nowrap;
	text-overflow:ellipsis;
	/* line-height:47px;
	width: 180px;
	display: inline-block;
	margin: auto 12px;
	width: 185px; */
}
.sigma {
	/* position: relative; */
	width: 30px;
	top: 7px;
	/* display: inline-block; */
}
.subject {
	/* position: relative; */
	font-size: 120%;
	color: #898989;
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	font-weight: 300;
	/* display: inline-block;
	padding-left: 12px;
	margin-top: 4px;
	width: calc(90% - 215px); */
}
.snipit {
	/* position: relative; */
	/*left: 260px;*/
	/*top: -20px;*/
	/*width: 200px;*/
	color: #d8d8d8;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	/*display: inline-block;
	width: calc(90% - 215px);
	font-size: 75%*/
}


.category-bar {
	position:fixed;
	width:100%;
	max-width:1000px;
	bottom: 0;
	text-align: center;
}

.category-bar .category {
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	display:inline-block;
	width:17%;
	padding:4px;
	margin-right:1px;
	color:#fff;
	font-size:16px;
	opacity: 0.8;
	cursor:pointer;
}

.category-bar .category:hover,
.category-bar .category-selected {
	opacity: 1.0;
}

.category-id {
	font-weight: bold;
	color: rgba(255,255,255,0.75);
}
