<!doctype html>
<html lang="en" ng-app="sigmaApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">

  <script src="js/bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>

<body ng-controller="EmailListCtrl">

  <div ng-repeat="category in categories">
    <div>
      {{category.name}}
    </div>
    <ul>
      <li ng-repeat="email in emails | filter:{category:category.id}">
        <div class="list-email-from">
          {{email.from}}
        </div>
        <div class="list-email-subject">
          {{email.subject}}
        </div>
        <div class="list-email-message">
          {{email.message}}
        </div>
      </li>
    </ul>  
  </div>

  

</body>
</html>
