<!doctype html>
<html lang="en" ng-app="sigmaApp">
<head>
  <meta charset="utf-8">
  <title>Sigma: your organized inbox.</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="css/libraries/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <script type="text/javascript" charset="utf-8" src="js/libraries/jquery-1.11.0.min.js"></script>
  <script src="js/bower_components/angular/angular.js"></script>
  <script src="js/libraries/angular-strap-2.0.2/dist/angular-strap.min.js"></script> 
  <script src="js/libraries/angular-strap-2.0.2/dist/angular-strap.tpl.min.js"></script>
  <script src="js/controllers.js"></script>
   <script src="js/app.js"></script>
  <script src="moment.min.js"></script>

</head>

<body ng-controller="EmailListCtrl">
  <div class="wrapper container-fluid">
    <div class="control-bar row">
      <div class="control-bar-title col-sm-4 hidden-xs" ng-click="focusCategory('', 0)">
        &Sigma;IGMA
      </div>
      <div class="control-bar-compose col-sm-4 hidden-xs">
        <a href="#" class="compose-a"></a>
      </div>
      <div class="control-bar-search col-sm-4 col-xs-12">
        <input type="search" placeholder="Search" ng-model="search" />
      </div>
    </div>
    <div ng-repeat="category in categories | filter:{id:focusedCategory}" ng-init="$scope.focusedCategory = 0" class = "{{category.split ? 'two-box' : 'one-box'}}" style = "border-color: {{category.color}};" id="{{category.id}}">
    	
        <div class="row ind-email {{email.read ? 'read' : ''}}" id = "{{email.id}}" ng-repeat="email in reddit.items | filter:{category:category.id} | filter:search">
         <div class = "{{category.split ? 'from col-md-4 col-sm-4' : 'from col-md-2 col-sm-3'}} nopadding">{{email.from}}</div>
         <div class = "{{category.split ? 'hidden' : 'sigma col-md-1 col-sm-1 hidden-xs'}}">
          <img src="images/sigma.png" ng-class="email.sigma ? '' : 'hidden'" />
          <!-- conditionally show the sigma img if the email has the sigma flag on -->
         </div>
  			 <div class = "{{category.split ? 'col-md-8 col-sm-8 col-xs-12' : 'col-md-9 col-sm-8 col-xs-12'}} lopadding">
          <div class="subject">{{email.subject}}</div>
  			  <div class = "snipit"><span class = "date">{{email.date}}</span> - {{email.message}}</div>
         </div>
        </div>
		<button class = "btn btn-default loadMore" ng-click = "addMore(category.id)">Load 10 More</a>
    </div>
  </div>
  <div class="category-bar">
    <div ng-repeat="category in categories" class="category {{category.class}} {{category.id == focusedCategory ? 'category-selected' : ''}}" style="background-color: {{category.color}};" ng-click="categorize(category.id, selectedId)">
      <span class="category-id">{{category.id}}</span> {{category.name}}
    </div>
  </div>
</body>
</html>
