body, html{
   font-family: 'Open Sans', sans-serif;
   text-align: center;
   color: #424242;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
	left: 0;
	top: 0;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}

.logo {
	width: 25%;
	margin-bottom: 20px;
}

.button {
	margin-top: 20px;
}

.submit {
	padding: 5px 20px;
	font-weight: bold;
	background: white;
	font-size: 150%;
	color: #1b6aa3;
	border:2px solid #1b6aa3;
}

.submit:hover {
	background: #1b6aa3;
	color: white;
	text-decoration:none;
}