/* app css stylesheet */

body {
  padding-top: 0px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

a {
	cursor: pointer;
}

h3 {
	color: #424242;
}

h3.num-title {
	text-align: center;
}

.wrapper {
	/*max-width: 80%;*/
	/*display: inline-block;*/
	/*width: calc(100% - 40px);*/
	/*max-width: 1100px;*/
	position: relative;
 	text-align: left;
	/*margin-bottom: 40px;*/
	padding: 0px;
}

.fandle-area {
	text-align: right;
	padding-right: 0px;
	/*margin-top: -95px;*/
	height: 70px;
	padding-top: 10px;
}

.email-area {
	padding-left: 0px;
	padding-right: 0px;
}

.email-fandle {
	/*margin-top: -90px;*/
	position: absolute;
	right: 0;
}

.view-area {
	/*padding-top: 60px;*/
	padding-left: 0px;
	padding-right: 0px;
}

.inbox {
	margin-bottom: 20px;
	border-top: 1px solid #ddd;
}

.wrapper2 {
	/*max-width: 80%;*/
	display: inline-block;
	width: calc(100% - 40px);
	max-width: 1100px;
	position: relative;
 	text-align: left;
	margin-bottom: 40px;
}


input:focus {
	outline: none;
}

input[type="search"] {
	display:inline-block;
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 5px;
	padding-left: 8px;
	width: 110%;
}

.control-bar-compose {
	margin-top: -10px;
}


.compose-a {
	background:url("../images/compose-icon.png");
}

.reply-a {
	background:url("../images/reply-icon.png");
}


.compose-a,
.reply-a {
	display:inline-block;
	width:82px;
	height:35px;
	background-size:100% auto;
	background-repeat: no-repeat;
	opacity:0.8;
}


.compose-a:hover {
	opacity: 1.0;
}

.control-bar-settings {
	padding-top: 3px;
	cursor:pointer;
}

.settings-a {
	padding-left: 8px;
	opacity:0.8;
	float:right;
}

.settings-a:hover {
	opacity: 1.0;
}

button.loadMore {
  text-align: center;
  width: 100%; 
}


.row {
	margin-left: 0px;
	margin-right: 0px;
	/*width: 90%;
	height: 145px;
	margin: 22px auto;*/
}
.one-box {
	position: relative;
	overflow: auto;
	width: 98%;
	margin: 0 1%;
	/*height: 210px;*/
	border: 1px solid #eee;
	/*border-right: 2px solid #eee;*/
	border-left-style: solid;
	/*border-left-width: 7px;*/
	margin-bottom: 10px;
}

.emails-area {
	overflow: auto;
}

.two-box {
	position: relative;
	overflow: auto;
	width: 48%;
	margin: 0 1% 10px 1%;
	display: inline-block;
	/*height: 210px;*/
	border: 1px solid #eee;
	/*border-right: 2px solid #eee;*/
	border-left-style: solid;
	/*border-left-width: 7px;*/
}

.category-header {
	padding: 3px;
	padding-left: 10px;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	/*font-weight: bold;*/
}

.unread {
	position:absolute;
	text-align: center;
	line-height: 16px;
	border-radius: 50%;
	color: #fff;
	width: 16px;
	height: 16px;
	top: 3px;
	right: 3px;
	z-index: 5;
	background: #fff;
	font-size: 10px;
}

.lopadding {
	right-padding: 10px !important;
	margin: 0px !important;
	padding-left: 10px;
}

.nopadding {
	padding-right: 0 !important;
	margin: 0 !important;
}

.nopadding-atall {
	padding: 0 !important;
	margin: 0 !important;
}

.ind-email {
	/*padding-left: 12px;
	height: 47px;*/
	/*border: 1px */
	border-left: 7px solid #424242;
}

.ind-email-inside {
	border-bottom: 1px solid #d9d9d9;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	padding-bottom:2px;
	height: 70px;

	padding-left: 7px;
	color: #555;		
}

.read {
	background-color: #f1f1f1;
	/*border-left-width: 1px;*/
	/*padding-left: 13px;*/
}

.selected-email {
	background: #e9fcfb;
}

.from {
	margin-top: 2px;
	font-weight: bold;
	font-size: 17px;
	/*color: #414141;*/
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	/*padding-top:9px;*/
	/*position: relative;
	line-height:47px;
	display: inline-block;
	margin: auto 12px;
	width: 185px;*/
	cursor:default;
	/*padding-left: 10px;*/
}

.email-open .from {
	padding-top: 0px;
}

.sigma {
	text-align: right;
	padding-right: 0px;
	padding-top:9px;
	/*width: 20px;*/
	/*position: relative;
	top: 7px;
	display: inline-block;*/
}
.sigma img {
	width: 15px;
}
.subject {
	font-size: 120%;
	/*color: #424242;*/
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	font-weight: 300;
	cursor:default;
	/*position: relative;	
	display: inline-block;
	padding-left: 12px;
	margin-top: 4px;
	width: calc(90% - 215px);
	cursor:default;*/
}
.snipit {
	/*position: relative;*/
	/*left: 260px;*/
	/*top: -20px;*/
	/*width: 200px;*/
	/*color: #b8b8b8;*/
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
/*	display: inline-block;
	width: calc(90% - 215px);
*/	font-size: 75%;
	cursor:default;
}

.date {
	/*color: #424242;*/
}

.emails-area::-webkit-scrollbar-track,
.message-view::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.emails-area::-webkit-scrollbar,
.message-view::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.emails-area::-webkit-scrollbar-thumb,
.message-view::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #AFAFAF;
}
/*
.two-box::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.two-box::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.two-box::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #AFAFAF;
}
*/

.message-view,
.compose-view {
	border: 1px solid #eee;
	/*overflow-x: hidden;*/
	/*overflow-y: scroll;*/
	/*overflow: scroll;*/
	overflow: auto;
	padding: 10px;
}

.compose-view input[type="text"],
.compose-view input[type="email"]
.compose-view textarea, {
	text-align: left;
	outline: none;
}

.message-subject {
	font-size: 27px;
	padding-bottom: 10px;
}

.message-from {
	font-weight: bold;
}

.message-date {
	font-style: italic;
	padding-bottom: 10px;
}

.message-body {
	white-space: pre-line;
	/*height: 100%;
	overflow: scroll;*/
}

.preview-main {
	text-align:center;
}

/*CSS for settings.html*/

input[type="text"], input[type="email"] textarea, .textboxlist-bits, .textboxlist-autocomplete-placeholder, .textboxlist-autocomplete-results {
	display:inline-block;
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 5px;
	width: 100%;
	background: #fff;
	box-shadow: none;
}

.textboxlist input {
	border: none;
	padding: 0px;
}

.textboxlist-bit {
	margin: 0px;
	margin-right: 3px;
}

.textboxlist-bit-editable {
	border: 1px solid #fff;
	padding-top: 2px;
	padding-bottom: 2px;
}

.textboxlist-autocomplete-result {
	background: #fff;
}

.textboxlist-autocomplete-result-focus {
	background: #C6D9E4;
	border-radius: 3px;
}

.textboxlist-bits {
	border: 1px solid #eee;
}

textarea {
	border: none;
	border-radius: 0px;
	padding-left: 5px;
}

input[type="text"].cat-bar {
	text-align: center;
	display:inline-block;
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 5px;
	padding-left: 8px;
	width: 85%;
}

input[type="text"].num-bar {
	width: 25%;
	display:block;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:15px;
    height:15px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
	display: block;
	margin: 0 auto 37px auto;
}
input[type='checkbox']:checked {
    background: #1b6aa3;
}

.num-bar {
	margin: 20px auto;
}

.cat-bar {
	margin: 10px 0;
}


.split-select {
	text-align: center;
}

.split-checks {
	padding-top: 18px;
}

a.save {
	padding: 10px 20px;
	font-weight: bold;
	background: white;
	color: #1b6aa3;
	border:2px solid #1b6aa3;
}

a:hover.save {
	background: #1b6aa3;
	color: white;
	text-decoration:none;
}

a:visited.save {
	text-decoration:none;
}

a:active.save {
	background: #1b6aa3;
	color: white;
	text-decoration:none;
}

.bottom {
	text-align: center;
	padding-top: 40px;
}

.prev {
	display: inline-block;
	border:2px solid #000;
}

.preview {
	padding-top: 10px;
}

.settings-title {
	text-align:center;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.category-select {
	text-align:center;
}

.removecat {
	cursor:pointer;
	margin-right: 5px;
	color: #808080;
}


/* viewing email */

.viewing {
	padding: 10px;
}

.viewing-category {
	font-size: 0.75em;
}

.viewing-actions {
	text-align: right;
}

.viewing-from {
	font-size: 1.25em;
	font-weight: bold;
}

.viewing-subject {
	font-size: 1.25em;
}

.viewing-date {
	color: #424242;
}

.viewing-message {
	margin-top: 5px;
	border-top: 1px solid #eee;
	padding-top: 5px;
}

.no-html-email-view {
	white-space: pre-line;
	overflow: auto;
	height: 100%;
}

/* compose */

.compose {
	padding: 10px;
	text-align: left;
}


.compose-section {
	margin-top:5px;
	margin-bottom: 5px;
}

.compose-body-section {
	border-top: 1px solid #eee;
}

.compose textarea {
	height: 300px;
}

.compose input, textarea {
	text-align: left;
}


/* Menu */

.top-padding {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.top-padding img {
	height: 50px;
}

.menu-btn {
	position: fixed;
	top: 15px;
	left: 15px;
	padding: 5px;
	background: rgba(255,255,255,0.95);
	color: #47a7ff;
	z-index: 100;
	cursor: pointer;
}

.menu {
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	background: rgba(255,255,255,0.87);
	cursor: pointer;
}


.control-bar {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

.control-bar-item {
	margin: 0px;
	padding: 0px;
}

.category-bar {
	text-align: center;
	height: calc(20px + 30px);
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
	font-size: 0px;
}

.category-bar-item {
	font-size: 12px;
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
	padding: 5px;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 75px;
	cursor: pointer;
	display: inline-block;
	/*background: #fff;*/
}

.category-bar-category {
	/*color: #fff;*/
}

.category-bar-focused {
	
}

