<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Sigma: your organized inbox.</title>
  <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico">
  <link rel="stylesheet" href="../static/css/libraries/bootstrap.css">
  <link rel="stylesheet" href="../static/css/libraries/main.min.css">
  <link rel="stylesheet" href="../static/css/libraries/bootstrap-additions.min.css">
  <link rel="stylesheet" href="../static/css/libraries/jquery.pageslide.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <script type="text/javascript" charset="utf-8" src="../static/js/libraries/jquery-1.11.0.min.js"></script>
  <script src="../static/js/app.js"></script>
</head>

<body>
	<div class="outer">
		<div class="middle">
			<div class="inner">
				<div class="row main-page">
					<div class="col-xs-6 left">
						<img class="devices" src="../static/images/devices.gif" title="Sigma" />
					</div>
					<div class="col-xs-6 right">
						<img class="logo" src="../static/images/logo-1.png" title="Sigma" />
						<h2 class="heading">Your Auto-Organized Inbox</h2>
						<a class="signup" href="#">Get Started</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
