<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
{% block content %}
<img class="logo" src="../static/images/logo-1.png" title="Sigma" />
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Please enter your Google Email:<br>
        {{form.email(size=80)}}<br>
        Please enter your Google password:<br>
        {{form.password(size=80)}}<br>
    </p>
    <p>{{form.new_account}} New Account?</p>
    <p><input type="submit" value="Sign In"></p>
</form>
{% endblock %}
</body>
</html>