<!doctype html>
<html lang="en" ng-app="sigmaApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Sigma: your organized inbox.</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/libraries/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/libraries/main.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/libraries/bootstrap-additions.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/libraries/jquery.pageslide.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='js/libraries/textboxlist/TextboxList.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='js/libraries/textboxlist/TextboxList.Autocomplete.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile-app.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/libraries/jquery-1.11.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bower_components/angular/angular.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libraries/angular-strap-2.0.2/dist/angular-strap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libraries/angular-strap-2.0.2/dist/angular-strap.tpl.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libraries/angular-animate.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libraries/angular-sanitize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/mobile-controllers.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/fandle.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='Autolinker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libraries/textboxlist/GrowingInput.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libraries/textboxlist/TextboxList.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libraries/textboxlist/TextboxList.Autocomplete.js') }}"></script>

  <meta name="viewport" content="width=320 initial-scale=0.9 maximum-scale=1.0 user-scalable=0" />
</head>

<body ng-controller="EmailListCtrl">
  <div class="wrapper container-fluid">
  	<div class="mobile-app-area row">
    	<div class="sidebar col-xs-2">
    		{% raw %}
    		<div class="sidebar-item sidebar-compose {{showing == composeId ? 'sidebar-focused' : ''}}" ng-click="compose()" style = "height:{{windowHeight / (numCat + 3)}}px">
    			+
    		</div>
    		<div class="sidebar-item sidebar-all {{focusedCategory == '' ? 'sidebar-focused' : ''}}" ng-click="categoryClick('')" id="category-all-btn" style = "height:{{windowHeight / (numCat + 3)}}px">
    			All
    		</div>
	        <div ng-repeat="category in categories" class="sidebar-item sidebar-category {{focusedCategory == category.id ? 'sidebar-focused' : ''}}" style = "background-color: {{category.color}}; height:{{windowHeight / (numCat + 3)}}px" ng-click="categoryClick(category.id)">
	        	{{category.name}}
	        </div>
	        <div class="sidebar-item sidebar-settings {{showing == settingsId ? 'sidebar-focused' : ''}}" ng-click="settings()" style = "height:{{windowHeight / (numCat + 3)}}px">
	        	Settings
	        </div>
	        {% endraw %}
		</div>
		<div class="padding col-xs-2"></div>
		<div class="view-area col-xs-10">
			{% raw %}
			<div class="control-bar">
		      <div class="control-bar-search">		      	
		        <input type="search" id="search" placeholder="Search" ng-model="search" />
		      </div>
		    </div>
		    <div class="inbox {{showingClass(inboxId)}}">
				<div ng-repeat="email in emails.arr | orderBy:email.millis:reverse" class="row ind-email {{email.read ? 'read' : ''}} {{showingEmail(email) ? '' : 'hidden'}}" id = "{{email.id}}" style="border-left-color: {{categories[email.category - 1].color}}">
					<div class="ind-email-inside">
						<div class="col-xs-11 email-area" ng-click="viewing(email.id)">
			             	<div class = "from">{{email.from}}</div>
			             	<div class="subject">{{email.subject}}</div>
			      			<div class = "snipit"><span class = "date">{{email.date}}</span> - {{email.snippet}}</div>
			      		</div>
			      		<div class="col-xs-1 fandle-area">
		      				<div class="email-fandle" id="email-fandle-{{email.id}}" rel="{{email.id}}"></div>
		      			</div>
		      		</div>
	            </div>
			</div>
			<div class="viewing {{showingClass(viewingId)}}">
				<div class="viewing-message-top">
					<div class="row nopadding-atall">
						<div class="col-xs-5 nopadding-atall viewing-category" style="color:{{categories[viewingEmail.category - 1].color}}">
							<b>{{categories[viewingEmail.category - 1].name}}</b>
						</div>
						<div class="col-xs-7 nopadding-atall viewing-actions">
							<img src="/static/images/mark-unread.png" />
							<img src="/static/images/trash-email.png" />
							<img src="/static/images/reply.png" ngclick="compose(email)" />
						</div>
					</div>
					<div class="viewing-from">{{viewingEmail.fromName}} <em>{{viewingEmail.fromEmail}}</em></div>
					<div class="viewing-subject">{{viewingEmail.subject}}</div>
					<div clas="viewing-date">{{viewingEmail.date}}</div>
				</div>
				<div class="viewing-message"></div>
			</div>
			<div class="compose {{showingClass(composeId)}}">
				<div class="compose-section">
					<!--
					<div class="compose-contacts-loading">
						Contacts loading...
					</div>
					-->
					<div class="compose-to-area">
						<input type="email" id="compose-to" placeholder="To" />
					</div>
				</div>
				<div class="compose-section">
					<input type="text" id="compose-subject" placeholder="Subject" />
				</div>
				<div class="compose-section compose-body-section">
					<textarea id="compose-body" placeholder="Message"></textarea>
				</div>
			</div>
			<div class="settings {{showingClass(settingsId)}}">
				Settings
			</div>
			<script> setTimeout(function() { $(".sidebar-all").click(); }, 1000); </script>
		    {% endraw %}
		</div>
	</div>
</div>
</body>
</html>
