<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/libraries/bootstrap.css') }}">
</head>
<body>
{% block content %}
<div class="outer">
<div class="middle">
<div class="inner">
<img class="logo" src="../static/images/logo-1.png" title="Sigma" />
<form action="" method="post" name="login" id="myform">
    {{form.hidden_tag()}}
        <p>{{form.email(size=30,placeholder="Gmail Address")}}</p>
        <p>{{form.password(size=30,placeholder="Gmail Password")}}</p>
    {{form.new_account(checked="checked",class="hidden")}}
    <p><a class="signup" href="login" onclick="document.getElementById('myform').submit();">Sign Up</a></p>
</form>
</div>
</div>
</div>
{% endblock %}
</body>
</html>