<!doctype html>
<html lang="en" ng-app="sigmaApp">
<head>
  <meta charset="utf-8">
  <title>Sigma: your organized inbox.</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="css/libraries/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <script type="text/javascript" charset="utf-8" src="js/libraries/jquery-1.11.0.min.js"></script>
  <script src="js/bower_components/angular/angular.js"></script>
  <script src="js/libraries/angular-strap-2.0.2/dist/angular-strap.min.js"></script> 
  <script src="js/libraries/angular-strap-2.0.2/dist/angular-strap.tpl.min.js"></script>
  <script src="js/controllers.js"></script>
   <script src="js/app.js"></script>
  <script src="moment.min.js"></script>

</head>

<body ng-controller="EmailListCtrl">
  <div class="wrapper container-fluid">
    <div class="control-bar row">
      <div class="control-bar-title col-sm-4 hidden-xs" ng-click="focusCategory('')">
        <img src="images/logo-1.png" />
      </div>
      <div class="control-bar-compose col-sm-4 hidden-xs">
        <a href="#" class="compose-a"></a>
      </div>
      <div class="control-bar-search col-sm-3 col-xs-11">
        <input type="search" placeholder="Search" ng-model="search" />
      </div>
	  <div class="control-bar-settings col-sm-1 hidden-xs">
        <a class="settings-a" ng-click="settings()"><img src = "images/gear.png" /></a>
      </div>
    </div>
    <div class="view-area row {{viewingEmail ? 'email-open' : ''}}">
      <div class="inbox {{viewingEmail ? 'col-xs-4' : 'col-xs-12' }}">
        <div ng-repeat="category in categories" ng-init="$scope.focusedCategory = 0" class = "{{viewingEmail || focusedCategory != '' ? 'one-box' : category.split ? 'two-box' : 'one-box'}} {{ viewingEmail && viewingEmail.category != category.id ? 'hidden' : '' }} {{ focusedCategory && focusedCategory != '' && focusedCategory != category.id ? 'hidden' : '' }}" style = "border-color: {{category.color}};" id="{{category.id}}">
        	<div class="category-header" style = "background-color: {{category.color}};">
        		{{category.name}}
        	</div>
        	<div class="unread {{category.unread ? '' : 'hidden'}}" style = "color: {{category.color}};">{{category.unread}}</div>
        	<div class="emails-area" style = "height: {{viewingEmail || focusedCategory == category.id ? windowHeight - 121 : category.emails*42}}px;">
	            <div class="row ind-email {{email.read ? 'read' : ''}} {{ selectedIds.indexOf(email.id) >= 0 ? 'selected-email' : '' }}" id = "{{email.id}}" ng-repeat="email in filterEmails = (emails.arr | filter:{category:category.id} | filter:search)">
	             <div class = "{{viewingEmail ? 'col-xs-12' : category.split ? 'col-md-4 col-sm-4' : 'from col-md-2 col-sm-3'}} nopadding from">{{email.from}}</div>
	      			 <div class = "{{viewingEmail ? 'col-xs-12' : category.split ? 'col-md-8 col-sm-8 col-xs-12' : 'col-md-10 col-sm-9 col-xs-12'}} lopadding">
	              <div class="subject">{{email.subject}}</div>
	      			  <div class = "snipit"><span class = "date">{{email.date}}</span> - {{email.snippet}}</div>
	             </div>
	            </div>
	    		    <button class = "btn btn-default loadMore" ng-hide = "!filterEmails.length" ng-click = "addMore(category.id)">Load 10 More</button>
	    	</div>
        </div>
      </div>
      <div class="message-view {{viewingEmail ? 'col-xs-8' : 'hidden'}}" style="height: {{ windowHeight - 96}}px; border-color: {{viewingEmail ? categories[viewingEmail.category - 1].color : '#ddd' }}">
        <div class="message-subject">
          {{viewingEmail.subject}}
        </div>
        <div class="message-from">
          {{viewingEmail.from}}
        </div>
        <div class="message-date">
          <span class="date">
            {{viewingEmail.date}}
          </span>
        </div>
        <div class="message-body">
          {{viewingEmail.message}}
        </div>
      </div>
    </div>
  </div>
  <div class="category-bar {{ selectedIds.length > 0 || viewingEmail ? '' : 'hidden' }}">
    <div ng-repeat="category in categories" class="category {{category.class}} {{categoryIsSelected(category.id) ? 'category-selected' : ''}}" style="background-color: {{category.color}};" ng-click="categorize(category.id)">
      <span class="category-id">{{category.id}}</span> {{category.name}}
    </div>
  </div>
  <div class="wrapper2 container-fluid hidden">
		<div class="control-bar row">
		  <div class="control-bar-title">
			<img src="images/logo-1.png" />
		  </div>
		</div>
		<div class = "row settings-title">
			<h1>Inbox Setup</h1>
		</div>
		<div class = "row">
			<div class="category-select col-sm-5 col-xs-8">
				<h3>Category</h3>
				<div><a id="rc1" class="removecat" ng-click="RemoveCat(1)" style="visibility:hidden" >x</a><input id="cat1" class = "cat-bar" type="text" disabled="disabled" value="Other" style = "border-color: #808080;" /></div>
				<div><a id="rc2" class="removecat" ng-click="RemoveCat(2)" >x</a><input id="cat2" class = "cat-bar" type="text" placeholder="Urgent" style = "border-color: #1b6aa3;" /></div>
				<div><a id="rc3" class="removecat" ng-click="RemoveCat(3)" >x</a><input id="cat3" class = "cat-bar" type="text" style = "border-color: #84cbc5;" /></div>
				<div><a id="rc4" class="removecat" ng-click="RemoveCat(4)" >x</a><input id="cat4" class = "cat-bar" type="text" style = "border-color: #f8d35e;" /></div>
				<div><a id="rc5" class="removecat" ng-click="RemoveCat(5)" >x</a><input id="cat5" class = "cat-bar" type="text" style = "border-color: #f47264;" /></div>
				<div><a id="rc6" class="removecat" ng-click="RemoveCat(6)" >x</a><input id="cat6" class = "cat-bar" type="text" style = "border-color: #85e491;" /></div>
				<div><a id="rc7" class="hidden" ng-click="RemoveCat(7)" >x</a><input id="cat7" class = "hidden" type="text" style = "border-color: #bd80b9;" /></div>
				<div><a id="rc8" class="hidden" ng-click="RemoveCat(8)" >x</a><input id="cat8" class = "hidden" type="text" style = "border-color: #f9b588;" /></div>
				<div><a id="addcat" ng-click="AddCat()">+ Add Category</a></div>
			</div>
			<div class="num-select col-sm-2 col-xs-2">
				<h3 class = "num-title"># in View</h3>
				<input id="num1" class="num-bar" type="text" value="5" style = "border-color: #808080;"  />
				<input id="num2" class="num-bar" type="text" value="5" style = "border-color: #1b6aa3;" />
				<input id="num3" class="num-bar" type="text" value="5" style = "border-color: #84cbc5;" />
				<input id="num4" class="num-bar" type="text" value="5" style = "border-color: #f8d35e;" />
				<input id="num5" class="num-bar" type="text" value="5" style = "border-color: #f47264;" />
				<input id="num6" class="num-bar" type="text" value="5" style = "border-color: #85e491;" />
				<input id="num7" class="hidden" type="text" value="5" style = "border-color: #bd80b9;" />
				<input id="num8" class="hidden" type="text" value="5" style = "border-color: #f9b588;" />
			</div>
			<div class="split-select col-sm-1 col-xs-2">
				<h3>Split</h3>
				<div class = "split-checks">
					<input id="split1" class="split-check" type="checkbox" />
					<input id="split2" class="split-check" type="checkbox" checked />
					<input id="split3" class="split-check" type="checkbox" checked />
					<input id="split4" class="split-check" type="checkbox" />
					<input id="split5" class="split-check" type="checkbox" />
					<input id="split6" class="split-check" type="checkbox" />
					<input id="split7" class="hidden" type="checkbox" />
					<input id="split8" class="hidden" type="checkbox" />
				</div>
			</div>
			<div class="preview-main col-sm-4 hidden-xs">
				<h3>Preview</h3>
				<div class = "preview">
					<div id="prev1" style = "display:inline-block;"></div>
					<div id="prev2" style = "display:inline-block;"></div>
					<div id="prev3" style = "display:inline-block;"></div>
					<div id="prev4" style = "display:inline-block;"></div>
					<div id="prev5" style = "display:inline-block;"></div>
					<div id="prev6" style = "display:inline-block;"></div>
					<div id="prev7" style = "display:inline-block;"></div>
					<div id="prev8" style = "display:inline-block;"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="bottom col-sm-12">
				<a class="save" ng-click="save()">Save</a>
			</div>
		</div>
	</div>
</body>
</html>
